body {
    background: black;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 21pt;
    font-weight: bold;
    text-align: justify;
    margin-top: 200px;
    background: url(../img/lorem_background.png) no-repeat;
    background-size: 100%;
    background-color: #cc4839;
}


/* h2 {
    font-size: 35px;
    color: gray;
    position: absolute;
    top: 0;
    left: 170px;
} */


/* .user_lorem {
    text-align: justify;
    padding: 0 30px;
    margin-top: 600px;
    border: 1px solid transparent;
} */

.datos {
    position: absolute;
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 600px;
    justify-content: space-between;
}

input {
    padding: 10px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.numPalabras input {
    margin-left: 26px;
}

.numParrafos input {
    margin-left: 30px;
}

.loremButton {
    margin-top: 50px;
    margin-left: 85px;
    width: 300px;
    height: 100px;
    font-size: 35px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    transition: 1s;
    background-color: white;
    font-weight: bold;
}

.loremButton:hover {
    transform: scale(1.05);
    background-color: black;
    box-shadow: 10px 10px 10px white;
    color: white;
}

.user_lorem {
    padding-top: 550px;
    margin-top: 50px;
}

p {
    padding: 20px 80px 0 80px;
}

@media screen and (max-width:1400px) {
    .datos {
        display: flex;
        flex-direction: column;
        margin-top: 600px;
        margin-left: 170px;
    }
    .loremButton {
        margin-top: 40px;
        margin-left: 540px;
    }
}