body {
    background: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 21pt;
    font-weight: bold;
    text-align: center;
    margin-top: 250px;
    background: url(../img/lorem_background.png) no-repeat;
    background-size: 100%;
    background-color: #cc4839;
    
}

h2 {
    font-size: 35px;
    color: gray;
    position: absolute;
    top: 0;
    left: 170px;
}

button {
    width: 300px;
    height: 100px;
    font-size: 35px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    transition: 1s;
    background-color: white;
    font-weight: bold;
}

button:hover {
    transform: scale(1.05);
    background-color: black;
    box-shadow: 10px 10px 10px white;
    color: white;
}

#lorem_usuari {
    text-align: justify;
    padding: 0 30px;
    margin-top: 600px;
    border: 1px solid transparent;
}

div {
    margin-top: 100px;
}